

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000;

    .bg__principal {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1;
    

        .cabecalho {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 10px;
            position: relative;
            z-index: 2;

            .logo__principal {
                width: 200px;
            }
        }
    }
}