@charset "UTF-8";
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw; /* largura da pagina 100vw = 1000px e 1vh = 10px*/
  height: 100vh; /*altura da pagina*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #242424, #6565f8);
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login h1 {
  font-size: 3vw;
  color: #6372f4;
}
.left-login .image {
  width: 35vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right-login .card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 35px; /*em baixo e em cima tem 30px e dos lados 35px de espaçamento interno*/
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902); /*lados, em cima ou em baixo, blur (esfumado), cor da sombra*/
}
.right-login .card-login h1 {
  margin: 0;
  padding: 0;
  color: #6565f8;
}
.right-login .card-login .img__usuario {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.right-login .card-login .img__usuario input[type=file] {
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.right-login .card-login .img__usuario label {
  display: flex;
  position: relative;
  padding: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  z-index: 2;
}
.right-login .card-login .img__usuario label:hover {
  color: #6372f4;
  border: 2px solid #6372f4;
}
.right-login .card-login .textfield {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 12px 0px;
}
.right-login .card-login .textfield input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: rgba(240, 255, 255, 0.8705882353);
  font-size: 12pt;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337254902); /*lados, em cima ou em baixo, blur (esfumado), cor da sombra*/
  outline: none;
  box-sizing: border-box;
}
.right-login .card-login .textfield label {
  color: rgba(240, 255, 255, 0.8705882353);
  margin-bottom: 10px;
}
.right-login .card-login .textfield ::-moz-placeholder {
  color: rgba(240, 255, 255, 0.8705882353);
}
.right-login .card-login .textfield ::placeholder {
  color: rgba(240, 255, 255, 0.8705882353);
}
.right-login .card-login .btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b133b;
  background: #6372f4;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgba(0, 255, 128, 0.3215686275); /* lados, em cima ou em baixo, blur (esfumado), sprading, cor da sombra*/
}
.right-login .card-login .btn-login:hover {
  background-color: #1a30f5;
  color: white;
}
.right-login .card-login .cadastro__button {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}
.right-login .card-login .cadastro__button:hover {
  color: #6372f4;
}
@media only screen and (max-width: 950px) {
  .right-login { /*quando a tela atingir 950px o card deve diminuir também*/ }
  .right-login .card-login {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .right-login .main-login {
    flex-direction: column;
  }
  .right-login .left-login {
    width: 100%;
    height: auto;
  }
  .right-login .left-login h1 {
    display: none;
  }
  .right-login .left-login .image {
    width: 80vw;
  }
  .right-login .right-login {
    width: 100%;
    height: auto;
  }
  .right-login .right-login .card-login {
    width: 90%;
  }
}/*# sourceMappingURL=cadastro.css.map */